# Lab: Linear Models and Regularization Methods

In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
from statsmodels.api import OLS
import sklearn.model_selection as skm
import sklearn.linear_model as skl
from sklearn.preprocessing import StandardScaler
from ISLP import load_data
from ISLP.models import ModelSpec as MS
from functools import partial

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression
from ISLP.models import (Stepwise,sklearn_selected,sklearn_selection_path)
# from 10bnb import fit_path

# Subset Selection Methods

In [3]:
Hitters=load_data('Hitters')
Hitters

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [4]:
np.isnan(Hitters['Salary']).sum()

np.int64(59)

In [5]:
Hitters=Hitters.dropna()
Hitters.shape

(263, 20)

In [6]:
def nCp(sigma2,estimator,X,Y):
    n,p=X.shape
    Yhat=estimator.predict(X)
    RSS=np.sum((Y-Yhat)**2)

    return -(RSS+2*p*sigma2)/n

In [7]:
design=MS(Hitters.columns.drop('Salary')).fit(Hitters)
Y=np.array(Hitters['Salary'])
X=design.transform(Hitters)

In [8]:
X

,intercept,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League[N],Division[W],PutOuts,Assists,Errors,NewLeague[N]
1,1.0,315,81,7,24,38,39,14,3449,835,69,321,414,375,1.0,1.0,632,43,10,1.0
2,1.0,479,130,18,66,72,76,3,1624,457,63,224,266,263,0.0,1.0,880,82,14,0.0
3,1.0,496,141,20,65,78,37,11,5628,1575,225,828,838,354,1.0,0.0,200,11,3,1.0
4,1.0,321,87,10,39,42,30,2,396,101,12,48,46,33,1.0,0.0,805,40,4,1.0
5,1.0,594,169,4,74,51,35,11,4408,1133,19,501,336,194,0.0,1.0,282,421,25,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,1.0,497,127,7,65,48,37,5,2703,806,32,379,311,138,1.0,0.0,325,9,3,1.0
318,1.0,492,136,5,76,50,94,12,5511,1511,39,897,451,875,0.0,0.0,313,381,20,0.0
319,1.0,475,126,3,61,43,52,6,1700,433,7,217,93,146,0.0,1.0,37,113,7,0.0
320,1.0,573,144,9,85,60,78,8,3198,857,97,470,420,332,0.0,0.0,1314,131,12,0.0
321,1.0,631,170,9,77,44,31,11,4908,1457,30,775,357,249,0.0,1.0,408,4,3,0.0

In [9]:
Y

array([ 475.   ,  480.   ,  500.   ,   91.5  ,  750.   ,   70.   ,
        100.   ,   75.   , 1100.   ,  517.143,  512.5  ,  550.   ,
        700.   ,  240.   ,  775.   ,  175.   ,  135.   ,  100.   ,
        115.   ,  600.   ,  776.667,  765.   ,  708.333,  750.   ,
        625.   ,  900.   ,  110.   ,  612.5  ,  300.   ,  850.   ,
         90.   ,   67.5  ,  180.   ,  305.   ,  215.   ,  247.5  ,
        815.   ,  875.   ,   70.   , 1200.   ,  675.   ,  415.   ,
        340.   ,  416.667, 1350.   ,   90.   ,  275.   ,  230.   ,
        225.   ,  950.   ,   75.   ,  105.   ,  320.   ,  850.   ,
        535.   ,  933.333,  850.   ,  210.   ,  325.   ,  275.   ,
        450.   , 1975.   , 1900.   ,  600.   , 1041.667,  110.   ,
        260.   ,  475.   ,  431.5  , 1220.   ,   70.   ,  145.   ,
        595.   , 1861.46 ,  300.   ,  490.   , 2460.   ,  375.   ,
        750.   , 1175.   ,   70.   , 1500.   ,  385.   , 1925.571,
        215.   ,  900.   ,  155.   ,  700.   ,  535.   ,  362.5  ,
        733.333,  200.   ,  400.   ,  400.   ,  737.5  ,  500.   ,
        600.   ,  662.5  ,  950.   ,  750.   ,  297.5  ,  325.   ,
         87.5  ,  175.   ,   90.   , 1237.5  ,  430.   ,  100.   ,
        165.   ,  250.   , 1300.   ,  773.333, 1008.333,  275.   ,
        775.   ,  850.   ,  365.   ,   95.   ,  110.   ,  100.   ,
        277.5  ,   80.   ,  600.   ,  200.   ,  657.   ,   75.   ,
       2412.5  ,  250.   ,  155.   ,  640.   ,  300.   ,  110.   ,
        825.   ,  195.   ,  450.   ,  630.   ,   86.5  , 1300.   ,
       1000.   , 1800.   , 1310.   ,  737.5  ,  625.   ,  125.   ,
       1043.333,  725.   ,  300.   ,  365.   ,   75.   , 1183.333,
        202.5  ,  225.   ,  525.   ,  265.   ,  787.5  ,  800.   ,
        587.5  ,  145.   ,  420.   ,   75.   ,  575.   ,  780.   ,
         90.   ,  150.   ,  700.   ,  550.   ,  650.   ,   68.   ,
        100.   ,  670.   ,  175.   ,  137.   , 2127.333,  875.   ,
        120.   ,  140.   ,  210.   ,  800.   ,  240.   ,  350.   ,
        175.   ,  200.   , 1940.   ,  700.   ,  750.   ,  450.   ,
        172.   , 1260.   ,  750.   ,  190.   ,  580.   ,  130.   ,
        450.   ,  300.   ,  250.   , 1050.   ,  215.   ,  400.   ,
        560.   , 1670.   ,  487.5  ,  425.   ,  500.   ,  250.   ,
        400.   ,  450.   ,  750.   ,   70.   ,  875.   ,  190.   ,
        191.   ,  740.   ,  250.   ,  140.   ,   97.5  ,  740.   ,
        140.   ,  341.667, 1000.   ,  100.   ,   90.   ,  200.   ,
        135.   ,  155.   ,  475.   , 1450.   ,  150.   ,  105.   ,
        350.   ,   90.   ,  530.   ,  341.667,  940.   ,  350.   ,
        326.667,  250.   ,  740.   ,  425.   ,  925.   ,  185.   ,
        920.   ,  286.667,  245.   ,  235.   , 1150.   ,  160.   ,
        425.   ,  900.   ,  500.   ,  277.5  ,  750.   ,  160.   ,
       1300.   ,  525.   ,  550.   , 1600.   ,  120.   ,  165.   ,
        700.   ,  875.   ,  385.   ,  960.   , 1000.   ])

In [10]:
sigma2=OLS(Y,X).fit().scale
sigma2

np.float64(99591.35617968219)

In [11]:
neg_Cp=partial(nCp,sigma2)

In [12]:
strategy=Stepwise.first_peak(
    design,
    direction='forward',
    max_terms=len(design.terms)
)

In [14]:
hitters_MSE=sklearn_selected(OLS,strategy)

hitters_MSE.fit(Hitters,Y)

hitters_MSE.selected_state_

('Assists',
 'AtBat',
 'CAtBat',
 'CHits',
 'CHmRun',
 'CRBI',
 'CRuns',
 'CWalks',
 'Division',
 'Errors',
 'Hits',
 'HmRun',
 'League',
 'NewLeague',
 'PutOuts',
 'RBI',
 'Runs',
 'Walks',
 'Years')

In [16]:
hitters_Cp=sklearn_selected(OLS,strategy,scoring=neg_Cp)

hitters_Cp.fit(Hitters,Y)

hitters_Cp.selected_state_

('Assists',
 'AtBat',
 'CAtBat',
 'CRBI',
 'CRuns',
 'CWalks',
 'Division',
 'Hits',
 'PutOuts',
 'Walks')